.classPalco {
    /* background-color: rgba(199, 199, 199, 0.568); */
    height: 100%;
    width: 100%;
    position: absolute;
    left: 5%;
}

.background {
    background-image: url(background2.png);
    /* background-position: right bottom, left top; */
    background-repeat: repeat-x;
    padding-top: 525px;
    position: absolute;
    animation: mymove 20s infinite;
    animation-delay: 0.1s;
    width: 2000%;
    animation-timing-function: linear;
}

.dinoClass {
    width: 150px;
    height: 120px;
    background-image: url(dino.gif);
    position: absolute;
    right: 10%;
}

@keyframes mymove {
    0% {
        left: 0px;
    }
    100% {
        left: -2000px;
    }
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.carousel{
    width: 40% !important;
    margin: auto !important;
}
.carouselHoojoke{
    width: 25% !important;
    margin: auto !important;
}

body { overflow-x: hidden; }